<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mortgage Compare</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Mortgage Calc</a>
        </div>
    </nav>

    <main id="app" role="main" class="container-fluid" style="margin-top: 4.5rem;">
        <div class="mb-3">
            <button type="button" class="btn btn-sm btn-primary float-right" v-on:click="calculateAll">
                <i class="fas fa-calculator mr-2"></i> Calculate
            </button>
            <button class="btn btn-sm btn-primary" v-on:click="addConfig">
                <i class="fas fa-plus mr-2"></i> Comp Scenario
            </button>
        </div>

        <div class="row">
            <div class="col" v-for="(config, configIndex) in configs">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Loan amount</label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" v-model="config.loanAmount"
                                    placeholder="ex. 250000">
                            </div>
                            <small class="form-text text-muted">The loan amount (home price minus down payment)</small>
                        </div>

                        <div class="form-group">
                            <label>Loan term</label>
                            <select class="form-control form-control-sm" v-model="config.term">
                                <option value="360">30-year fixed</option>
                                <option value="180">15-year fixed</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Rate</label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">%</span>
                                </div>
                                <input type="number" class="form-control" v-model="config.rate" placeholder="3.25">
                            </div>
                        </div>

                        <button class="btn btn-sm btn-primary float-right" v-on:click="addExtraPayment(configIndex)">
                            <i class="fas fa-plus mr-2"></i> Extra Payment
                        </button>

                        <div v-if="config.extraPayments.length > 0">
                            <h5>Extra payments</h5>
                            <div v-for="(extraPayment, extraPaymentIndex) in config.extraPayments" class="row mb-3">
                                <div class="col">
                                    <label>Year</label>
                                    <input type="number" class="form-control form-control-sm"
                                        v-model="extraPayment.year" placeholder="ex. 2">
                                </div>
                                <div class="col">
                                    <label>Month</label>
                                    <input type="number" class="form-control form-control-sm"
                                        v-model="extraPayment.month" placeholder="ex. 7">
                                </div>
                                <div class="col">
                                    <label>Amount</label>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="number" class="form-control " v-model="extraPayment.amount"
                                            placeholder="ex.: 5000">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div v-for="(schedule, scheduleIndex) in schedules" class="col">
                <h5>Loan Summary</h5>
                <table class="table table-bordered table-sm">
                    <tr>
                        <th>Monthly payment</th>
                        <td>${{ Number(schedule.monthlyPayment.toFixed(2)).toLocaleString('en') }}</td>
                    </tr>
                    <tr>
                        <th>Length</th>
                        <td v-if="schedule.lastPaymentMonth % 12 == 0">{{ schedule.lastPaymentYear }} year(s) </td>
                        <td v-else>{{ schedule.lastPaymentYear - 1 }} year(s) {{ schedule.lastPaymentMonth }} months(s)
                        </td>
                    </tr>
                    <tr>
                        <th>Total interest</th>
                        <td>${{ Number(schedule.summary.interest.toFixed(2)).toLocaleString('en') }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row mt-4">
            <div v-for="(schedule, scheduleIndex) in schedules" class="col">
                <h5>Yearly Summary</h5>
                <table class="table table-bordered table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Year</th>
                            <th>Prin.</th>
                            <th>Int.</th>
                            <th>Bal.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(year, yearIndex) in schedule.years">
                            <td>{{ yearIndex + 1}}</td>
                            <td>${{ Number(year.summary.principal.toFixed(2)).toLocaleString('en') }}</td>
                            <td>${{ Number(year.summary.interest.toFixed(2)).toLocaleString('en') }}</td>
                            <td>${{ Number(year.lastPayment.snapshot.remainingBalance.toFixed(2)).toLocaleString('en') }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-4">
            <div v-for="(schedule, scheduleIndex) in schedules" class="col">
                <h5>Amortization Schedule</h5>
                <table class="table table-bordered table-striped table-sm mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th>Yr</th>
                            <th>Mo</th>
                            <th>Prin.</th>
                            <th>Int.</th>
                            <th>Cum. Prin.</th>
                            <th>Cum. Int.</th>
                            <th>Bal.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="(year, yearIndex) in schedule.years">
                            <tr v-for="(payment, paymentIndex) in year.payments"
                                :class="paymentIndex == 11 ? 'table-info' : ''">
                                <td>{{ yearIndex + 1 }}</td>
                                <td>{{ paymentIndex + 1 }}</td>
                                <td>${{ Number((payment.principal).toFixed(2)).toLocaleString('en') }}</td>
                                <td>${{ Number(payment.interest.toFixed(2)).toLocaleString('en') }}</td>
                                <td>${{ Number(payment.snapshot.cumulativePrincipal.toFixed(2)).toLocaleString('en') }}
                                </td>
                                <td>${{ Number(payment.snapshot.cumulativeInterest.toFixed(2)).toLocaleString('en') }}
                                </td>
                                <td>${{ Number(payment.snapshot.remainingBalance.toFixed(2)).toLocaleString('en') }}
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./app.js"></script>
    <script src="https://kit.fontawesome.com/71d0e575d1.js" crossorigin="anonymous"></script>
</body>

</html>